knob {
    background-color: #211e21;
}

knob>.back {
    background-color: #111111;
}

knob>.slider {
    background-color: #f64336;
}

knob>.tick {
    background-color: #211e21;
}

label {
    color: #ffffff;
    font-size: 16;
}

textbox {
    color: #ffffff;
    background-color: #211e21;
    font-size: 16;
}